// Colors

$white: #fff;
$catskill-white: #f9fafc;
$ebony: #111827;
$royal-blue: #5048e5;
$ebony: #111827;
$athens-gray: #e6e8f0;
$athens-gray-light: #f3f4f6;
$pale-sky: #6b7280;
$mischka: #d1d5db;
$mountain-meadow: #10b981;
$gray-chateau: #9ca3af;
$ebony-clay: #1F2937;

// Fonts

$font-path: "../fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "Inter";
$font-Regular: "Regular";
$font-Medium: "Medium";
$font-Semi-bold: "SemiBold";
$font-Bold: "Bold";

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Mediaquery

$screen-tablet: "(min-width: 768px)";
$screen-desktop: "(min-width: 1280px)";

// Transition

$transition: all 0.5s;
