.aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 76px;
  background-color: $ebony;
  transition: $transition;
  @media #{$screen-desktop} {
    width: 280px;
  }
  &__block {
    position: fixed;
    width: 76px;
    transition: $transition;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media #{$screen-desktop} {
      width: 280px;
    }
  }
  &__button {
    color: $mischka;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.5s;
    padding: 0;
    justify-content: center;
    width: 100%;
    @media #{$screen-desktop} {
      padding: 8px 16px;
      justify-content: start;
    }
  }
  &__button:hover {
    color: $mountain-meadow;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    opacity: 1;
  }
  &__button-offer {
    background-color: $mountain-meadow;
    border-radius: 8px;
    color: $white;
    width: 100%;
  }
  &__offer {
    display: none;
    @media #{$screen-desktop} {
      display: block;
      margin: auto 0 24px;
      padding: 24px 16px 0;
      border-top: 1px solid $ebony-clay;
    }
  }
  &__icon {
    margin-left: 8px;
  }
  &__question {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: $athens-gray-light;
    margin: 0;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 157%;
    color: $gray-chateau;
    margin: 0 0 16px 0;
  }
}
